<!DOCTYPE html>
<html lang="zh_CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <title>TTDKP工会管理</title>

</head>

<body>

    <!-- 导航条 -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">工会：<span id="guild-name">加载中...</span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">行会积分排行榜</a></li>
                    <li><a id="goto-flow-query" href="#about">行会积分流水查询</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container theme-showcase" role="main">

        <br/>
        <br/>
        

        <div class="page-header">
            <h3>
                积分排行榜
                <small><span id="msg-export-date"></span></small>
            </h3>
             <a id="flow-query-link" href="#">查看行会积分流水</a>
        </div>

        <div id="gsm-loading" class="alert alert-info" role="alert">
            数据加载中...
        </div>

        <div id="gsm-404" class="alert alert-danger hidden" role="alert">
            数据不存在！！！
        </div>

        <div id="gsm-table" class="hidden">
            <div id="message" style="margin-bottom: 0.5em;">
                <span class="label label-default">玩家</span>
                <span id="msg-total-player" class="label label-primary">...</span>
                <span class="label label-default">总积分</span>
                <span id="msg-total-score" class="label label-primary">...</span>
            </div>
            <div>
                <table class="table table-striped container">
                <thead>
                    <tr>
                        <th>排名</th>
                        <!--<th>TT号</th>-->
                        <th>玩家</th>
                        <th>活动</th>
                        <th>积分</th>
                        <th>元宝</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody/>
            </table>
            </div>
        </div>

    </div>

    <div id="output"></div>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jsrender/0.9.90/jsrender.min.js"></script>
    <script src="./lib/ttdkp-common.js"></script>
    <script type="text/javascript">
        $(function() {

            function loadingFromJsonData(url) {
                console.info("prepare to loading[%s].", url);
                $.getJSON(url, {})
                    .fail(function(jqXHR, status, errorThrown) {
                        console.warn("获取工会[%s]的积分汇总数据失败:status=%s", gid, status);
                        $("#gsm-404").removeClass('hidden');
                    })
                    .done(function(result, status) {
                        console.info("获取工会[%s]的积分汇总数据成功:status=%s", gid, status);
                        if (!result.success) {
                            console.warn("获取工会[%s]的积分汇总数据失败:error=%s;msg=%s;", gid, result.error, result.message);
                            $("#gsm-404").removeClass('hidden');
                            return;
                        }

                        var data = result.data;
                        $("title").text(data.guild.name + "-TTDKP工会管理");
                        $("#msg-export-date").text(data.summary.lastReportDate);
                        $("#msg-total-player").text(data.summary.totalPlayer);
                        $("#msg-total-score").text(data.summary.totalScore);
                    
                        $("#guild-name").text(data.guild.name);
                        $("#gsm-table").removeClass('hidden');
                        $(data.details).each(function(index, player) {
                            player.ttNickname=tt_nickname_fix(player.ttNickname);
                            $("#gsm-table table tbody").append($.templates("#player-data").render(player));
                        });
                    })
                    .always(function() {
                        $("#gsm-loading").addClass('hidden');
                    });
            }

            var gid = getQueryString("gid");
            if (null == gid ||
                !/^[0-9]+$/.test(gid)) {
                console.error("非法的行会ID:%s", gid);
                $("#gsm-loading").addClass('hidden');
                $("#gsm-404").removeClass('hidden');
                return;
            }

            $("#goto-flow-query").attr("href", "./score.html?gid=" + gid);
            $("#flow-query-link").attr("href", "./score.html?gid=" + gid);

            var url = "https://60.205.212.58:9443/export/guild/" + gid;
            loadingFromJsonData(url);


        });
    </script>

    <script id="player-data" type="text/x-jsrender">
        <tr>
            {{if ranking==1}}
            <td><span class="label label-danger">第{{:ranking}}名</span></td>
            {{/if}} {{if ranking==2}}
            <td><span class="label label-warning">第{{:ranking}}名</span></td>
            {{/if}} {{if ranking==3}}
            <td><span class="label label-primary">第{{:ranking}}名</span></td>
            {{/if}} {{if ranking>3}}
            <td><span class="label label-default">第{{:ranking}}名</span></td>
            {{/if}}
            <!--<td>{{:ttNo}}</td>-->
            <td><a href="./score.html?gid={{:guildId}}&pid={{:playerId}}">{{:ttNickname}}</a></td>
            <td>{{:activity}}</td>
            <td>{{:score}}</td>
            <td>{{:yb}}</td>
            <!--<td><a href="./score.html?gid={{:guildId}}&pid={{:playerId}}">查看流水</a></td>-->
        </tr>

    </script>

</body>

</html>
