<!DOCTYPE html>
<html lang="zh_CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css">
    <title>行会积分流水查询-TTDKP工会管理</title>
</head>

<body>

    <!-- 导航条 -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a id="guild-link" class="navbar-brand" href="#">工会：<span id="guild-name">加载中...</span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a id="goto-guild" href="#">行会积分排行榜</a></li>
                    <li class="active"><a href="#about">行会积分流水查询</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <br/>
    <br/>

    <div class="container" role="main">

        <div class="page-header">
            <h3>行会积分流水查询</h3>
            <a id="guild-query-link" href="#">返回行会积分排行榜</a>
        </div>

        <div class="container" id="sandbox-container">
            <div class="input-group date">
                <span class="input-group-addon">选择日期</span>
                <input id="query-date" type="text" class="form-control">
                <span class="input-group-btn">
                <button id="btn-query" class="btn btn-default" type="button">查询</button>
            </span>
            </div>

            <br/>

            <div id="psf-loading" class="alert alert-info" role="alert">
                数据加载中...
            </div>

            <div id="psf-404" class="alert alert-danger hidden" role="alert">
                数据不存在！！！
            </div>

        </div>

        <div id="psf-table" class="container hidden">
            <div id="message" class="hidden">
                <span class="label label-default">查询日期</span>
                <span id="msg-export-date" class="label label-primary"></span>
                <span class="label label-default">共计：</span>
                <span id="msg-export-size" class="label label-primary"></span>
                <span class="label label-default">条流水记录</span>
            </div>
            <br/>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#psf_all" data-toggle="tab">全部</a></li>
                <li><a href="#psf_active" data-toggle="tab">活动</a></li>
                <li><a href="#psf_admin" data-toggle="tab">管理</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="psf_all">
                    <div class="panel panel-default" style="margin-top:-1px;">
                        <div class="panel-body">
                            <table class="table table-striped table-hover scrolltable">
                                <thead>
                                    <tr>
                                        <th>时间</th>
                                        <!--<th>TT</th>-->
                                        <th>昵称</th>
                                        <th>积分</th>
                                        <th>管理</th>
                                        <!--<th>类别</th>-->
                                        <th>缘由</th>
                                    </tr>
                                </thead>
                                <tbody id="psf_all_body"></tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="tab-pane" id="psf_active">
                    <div class="panel panel-default" style="margin-top:-1px;">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>时间</th>
                                        <!--<th>TT</th>-->
                                        <th>昵称</th>
                                        <th>积分</th>
                                        <th>管理</th>
                                        <!--<th>类别</th>-->
                                        <th>缘由</th>
                                    </tr>
                                </thead>
                                <tbody id="psf_active_body"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="psf_admin">
                    <div class="panel panel-default" style="margin-top:-1px;">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>时间</th>
                                        <!--<th>TT</th>-->
                                        <th>昵称</th>
                                        <th>积分</th>
                                        <th>管理</th>
                                        <!--<th>类别</th>-->
                                        <th>缘由</th>
                                    </tr>
                                </thead>
                                <tbody id="psf_admin_body"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jsrender/0.9.90/jsrender.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="./lib/ttdkp-common.js"></script>

    <script>
        $(function() {

            function loadingFromJsonData(url) {
                console.info("prepare to loading[%s].", url);
                $.getJSON(url, {})
                    .fail(function(jqXHR, status, errorThrown) {
                        console.warn("获取积分流水数据失败:status=%s;gid=%s;pid=%s;daily=%s;", status, gid, pid, daily);
                        $("#psf-404").removeClass('hidden');
                    })
                    .done(function(result, status) {
                        console.info("获取积分流水数据成功:status=%s;gid=%s;pid=%s;daily=%s;", status, gid, pid, daily);
                        if (!result.success) {
                            console.warn("获取积分流水数据失败:error=%s;msg=%s;pid=%s;daily=%s;",
                                result.error, result.message, gid, pid, daily);
                            $("#psf-404").removeClass('hidden');
                            return;
                        }

                        var data = result.data;
                        $("#guild-name").text(data.guild.name);

                        $("#message").removeClass('hidden');
                        //$("#msg-export-date").text(result.data.summary.exportDate);
                        $("#msg-export-date").text(daily);
                        $("#msg-export-size").text(result.data.flows.length);

                        $(data.flows).each(function(index, flow) {
                            flow.ttNickname=tt_nickname_fix(flow.ttNickname);
                            flow.adminTtNickname=tt_nickname_fix(flow.adminTtNickname);
                            $("#psf_all_body").append($.templates("#score-flow-data").render(flow));
                            if (flow.reasonType == 1) {
                                $("#psf_active_body").append($.templates("#score-flow-data").render(flow));
                            }
                            if (flow.reasonType == 2) {
                                $("#psf_admin_body").append($.templates("#score-flow-data").render(flow));
                            }
                        });
                    
                        $("#psf-table").removeClass('hidden');
                    })
                    .always(function() {
                        $("#psf-loading").addClass('hidden');
                    });
            }

            function gotoQuery(gid, pid, daily) {
                var toURL = (window.location.href + "").split("?")[0] + "?a=b";
                if (gid) {
                    toURL += "&gid=" + gid;
                }
                if (pid) {
                    toURL += "&pid=" + pid;
                }
                if (daily) {
                    toURL += "&daily=" + $("#query-date").val();
                }
                console.info("toURL=" + toURL);
                window.location.href = toURL;
            }


            var gid = getQueryString("gid");
            if (null == gid ||
                !/^[0-9]+$/.test(gid)) {
                console.error("非法的行会ID:%s", gid);
                $("#gsm-loading").addClass('hidden');
                $("#gsm-404").removeClass('hidden');
                return;
            }

            var daily = getQueryString("daily");
            if (null == daily) {
                daily = (new Date()).Format("yyyy-MM-dd");
                console.info("没有指定日期查询，默认选择当天");
            }

            var pid = getQueryString("pid");
            if (null == gid ||
                !/^[0-9]+$/.test(gid)) {
                console.info("没有指定查询玩家，默认选择查询整个工会数据.");
            }

            // 初始化日期控件
            $('#query-date').datepicker({
                onSelect: function(date) {
                    console.info(date);
                },
                language: "zh-CN",
                format: "yyyy-mm-dd",
                autoclose: true,
                todayHighlight: true,
                startDate: "2018-01-01",
                endDate: new Date()
            }).on('changeDate', function(e) {
                gotoQuery(gid,pid,daily);
            }).val(daily);

            $("#goto-guild").attr('href', './guild.html?gid=' + gid);
            $("#guild-link").attr('href', './guild.html?gid=' + gid);
            $("#guild-query-link").attr('href', './guild.html?gid=' + gid);

            console.info("guild=%s;daily=%s;player=%s;", gid, daily, pid);


            $("#btn-query").click(function(event) {
                gotoQuery(gid,pid,daily);
            });


            // 开始查询数据
            var url = "http://60.205.212.58:8080/export/guild/" + gid + "/flow/" + daily.replace(/\-/g, "");
            if (pid) {
                url += "/" + pid;
            }
            loadingFromJsonData(url);

        });

    </script>

    <script id="score-flow-data" type="text/x-jsrender">
        <tr>
            <td>{{:time}}</td>
            <!--<td>{{:ttNo}}</td>-->
            <td>{{:ttNickname}}</td>
            <td>{{:score}}</td>
            <td>{{:adminTtNickname}}</td>
            <!--
            {{if reasonType==1}}
            <td>参与活动</td>
            {{/if}} {{if reasonType==2}}
            <td>管理变更</td>
            {{/if}} {{if reasonType==3 }}
            <td>系统变更</td>
            {{/if}}
            -->
            <td>{{:reasonDesc}}</td>
        </tr>
    </script>

</body>

</html>
